5#pop1 p::first-letter {
  font-size: 8vh;
  padding-left: 2vh;
}
#pop1 h1 {
  border: solid;
  border-width: 0.5vh 0px 0.5vh 0px;
  text-align: center;
  clear: both;
}

.fa:hover {
  color: rgba(255, 255, 255, 1);
}
.home:hover {
  font-size: 6vh;
  margin-bottom: 0;

}
.fa-star-o:hover {
  animation-name: star;
  animation-duration: 1s;
}

@keyframes star {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#pop1 {
}

#pop1 {
  background-color: rgb(245, 207, 204);
  font-family: "Saira Extra Condensed", sans-serif;
  display: block;
  white-space: normal;
  font-size: 4vh;
  max-width: 90%;
  margin-left: 2%;
  border: solid;
  border-width: 1vw;
  padding: 3%;
  /*   display:none; */
}
/*  mobile view*/
.nav {
  position: fixed;
  width: 80%;
  margin-top: -27vh;
  line-height: 10vw;
  border: solid;
  padding: 1.5vw;
  height: 4vh;
  background-color: white;
}
.navtag:first-child {
  margin-left: 10vw;
}
.navtag {
  color: rgb(0, 0, 0);
  padding: 0vw 5vw 0vw 5vw;
  float: left;
  font-size: 26px;
  display: block;
  width: fit-content;
  margin-left: 1vw;
  margin-top: 0vw;
  text-decoration: none;
}

.fa {
  display: block;
  float: none;
  clear: both;
}

@media screen and (min-width: 680px) {
  .nav {
    color: black;
    margin-left: -8vw;
    background-color: rgba(255, 0, 0, 0.5);
    font-size: 40px;
    position: fixed;
    height: fit-content;
    width: fit-content;
  }
  .navtag {
    text-decoration: none;
    float: left;
    clear: both;
    margin: 0;
    padding: 2vh 0vh;
  }
  .navtag:first-child {
    margin: 0.5px;
    font-size: 40px;
  }
}
